/********************************************
	Tag Resets
********************************************/

body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	margin: 0;
	padding: 0;
	border: 0;
}


/********************************************
	Normalize CSS
	http://necolas.github.com/normalize.css/
********************************************/

html {
	height: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	min-height: 100%;
}


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
audio,
canvas,
video {
	display: block;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

b,
strong {
	font-weight: bold;
}

abbr[title] {
	border-bottom: 1px dotted;
}

input,
textarea,
button,
select {
	margin: 0;
	font-size: 100%;
	line-height: normal;
	vertical-align: baseline;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
}

input[type="checkbox"],
input[type="radio"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

textarea {
	overflow: auto;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ******************************************
	Web Fonts
****************************************** */
@import url('https://fonts.googleapis.com/css?family=Oxygen');


html {
   font-size: 100%;
   line-height: 1;
   -moz-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

/* ******************************************
    IE 7 and below, legacy browser style fixes
****************************************** */

.ie .wrapper {
    *behavior: url("http://absolute-path.com/js/boxsizing.htc");
}

/* Clearfix */

.group {
    *zoom: 1;
    }
	
		

	<!--Format mobile device-->
	
html,body{
font-family: 'Oxygen', sans-serif;
	background-color: transparent;
}


h1,h2,h3,h4,h5,h6 {
	    font-weight: 100;
	    }
		
h1 {
	font-size: 3.189em;
	line-height: 1.223;
		}
	
h2  {
	font-size: 2.126em;
	line-height: 1.223;
		    }
			
h1, h2 {
	text-shadow: 0 2px 2px rgba(0, 0, 0, .65);
			 }
			 
h3 {
	font-size: 1.382em; 
	line-height: 1.223;
		}
		    
h4 {
	font-size: 1em;
	line-height: 1.56;
	text-transform: uppercase;
	color:#333333;
		}
		
h3,h4 {      
	font-weight: 300;
	text-transform: uppercase;
		}
		
h5 {
	font-size: .8125em;
	line-height: 1.125;
		}

h5,h6 {
		font-size: .85em;
	line-height: 1.53;
	font-weight: 500;
}

h6 {
	color: #aaa;
	font-weight: 200;
		}

h3:hover{
				transform:rotate(2deg);
}



#nav,#masthead,#content,#colophon {
			margin: 0 18px;
		}



#masthead h1,h2{
			color:#fff;
			text-shadow: 0.125em 0.0625em 0.1875em rgba(150, 150, 150, 1);/*2/16=0.125em  1/16=0.0625em  3/16=0.1875em*/
						}

#nav h3 {
	text-transform: capitalize;
		}

					
#content article {
	padding-top: .65em;
	padding-bottom: 1.3em;
		}


#portfolio h4 {
	line-height: 1.82;
		}

p,#resume li{
		font-size: 1.063em; /* 17px / 16 = 1.063em */
		line-height: 1.223; /* 1.3 / 1.063 = 1.223 */
		margin: .612em 0;
			}
			
	/* Fluid Columns, Fixed Gutters */

.wrapper {
    padding: 0 .65em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#masthead{
	width: 80%;
}



<!--navbar-->

#container-nav{
	background-color: #00b232;
}

nav{	
		background-color: transparent;
		margin:0em;
		height: auto;
		padding:0.625em 0em 0.625em 0; /*10/16=0.625  5/16=0.3125*/
		width: 100%;
	}

nav li{
		display:inline;
		vertical-align: center;
		padding:0.1875em;/*3/16=0.1875em*/
				}

nav a{
		text-decoration: none;
		font-size: 0.830em; /*13.28px/16px=0.830em  */
		line-height: 0.875em;/*14/16=0.875em*/
		background-color: #996666;
		color:white;
		border:0.0625em solid #333333;/*1/16=0.0625em*/
		padding:0.2em;/*4/16=0.25em*/
		border-radius: 0.3125em;/*5/16=0.3125em*/
		margin:0.125em;/*2/16=0.125em*/
	}

	nav ul{
		overflow:hidden;
		margin:0em;
		padding:0.625em 0em 0.625em 0.625em;/*10/16=0.625em*/
	}

	nav li:hover{
				transform:rotate(5deg);
				}

nav a:hover{
			background-color: #333333;
			color:black;
			transform:rotate(5deg);
				}

	<!--fin navbar -->


.box {
			padding:14px;
		}
		
.box h4 {
	color: #fff;
	border: 1px solid #eee;
		border-radius:5px;
	margin-bottom: .975em; /* 3/4 of 1.3 */
	text-align: center;
		}
		
.box ul {
	list-style: none;
	padding: 0;
		}

#portfolio figure,#resume .box{
	background-color: #996666;
-webkit-box-shadow: 3px 3px 3px 0px rgba(138,136,138,0.44);
-moz-box-shadow: 3px 3px 3px 0px rgba(138,136,138,0.44);
box-shadow: 3px 3px 3px 0px rgba(138,136,138,0.44);
	padding: .975em; /* 3/4 of 1.3 */
		border-radius:5px;
		}

		
section footer {
	clear: both;
		   }

#container-header{
	background-color:#cfb095;
	height: 350px;
	width: 100%;
}

#container-content {
	padding: 24px 0;
}

#container-nav{background-color: #00b232;}


#container-footer{
		color:black;
		background-image: url("flowers.png");
		background-position: left bottom;
		background-repeat: no-repeat;
		background-color: #00b232;
		height: auto;
		text-shadow: 0.125em 0.0625em 0.1875em rgba(150, 150, 150, 1);
		font-weight:100;
		}

		img {
	max-width:100%;
}

#copyright{
		text-align: right;
		padding-bottom: 2em;
		}



#container-footer h3{
					margin-top:1em;
					padding-top:2em;
					padding-left: 1em;
					padding-bottom: 1em;
}


button{background: #996666;}


---------------------------			
Fine-tuning our 3 column layout on the larger width screens
---------------------------


#nav,
#masthead,
#content,
#colophon {
	margin: 0 3.3%;
}

/* Float Clearing http://nicolasgallagher.com/micro-clearfix-hack */

.group:after {
    content: " "; /* 1 */
    display: table; /* 2 */
    clear: both;
}

.group {
    *zoom: 1; /* 3 */
    }


form,fieldset,legend {
	border:0,
	padding:0;
	margin:0;
}

legend, label {      
				font-weight: 300;
				text-transform: uppercase;
				color: #fff;
				font-size: 1em;
				line-height: 1.3;
				font-weight: 500;
    			padding: .65em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }
	
	legend{
			font-size: 1.382em; 
			line-height: 1.223;
		}

	label {
    display: block;
	font-size: 1em;
	line-height: 1.56;
    padding: 0 0 .325em;
	}
	

	form ol{
		list-style: none;
	    padding: 1.3em 0 0;
    }
	

	input, textarea{
		width:100%;
	}

	form li{
		display:block;
		float:left;
    	padding: 0 0 .65em;
    	margin-right: auto;
    	width: 100%;
    	    }

    form li:last-child{
    	margin-right: 0;
    					}

.send{
	clear:both;
	background-color: #996666;
	border-radius: 6px;
	}


/*Elements for desktop display >45 em ou 720px*/

	@media screen and (min-width: 40em)  {

	    body {
	        font-size: 107.692307692308%;
	        }

		#portfolio article,
		#resume article {
			float: left;
			width: 33.333%;
		}
		#portfolio article:nth-child(5) { 
			clear: left; 
		}

		#masthead{
			max-width: 40em;
		}
#container-header{
			background-image:url(cointopleft.png);
			background-repeat: no-repeat;
			background-position: right top;
		}

#nav,
#masthead,
#content,
#colophon {
	margin: 0 5.5%;
}
    
	.name, .email,.subject,.message {
		float:left;
    padding-right: 1.3em;
    padding-left: 0;
	width:48%;
		    }

.email textarea{
	width: auto;
				}
				
 .message textarea {
   						 width: 100%;
    					clear:both;

   					 }

}

@media screen and (min-width: 30em)  {

	.name, .email,.subject,.message {
		float:left;
    padding-right: 1.3em;
    padding-left: 0;
	width:45%;
		    }

.email textarea{
	width: auto;
				}
				
 .message textarea {
   						 width: 100%;
    					clear:both;

   					 }


}

/* Clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
	



/*----------------------------------------------------------------*/

/*Elements for printing */



	@media print and (max-width: 8.5in){

body{
	background-color: transparent;
}

header{
	background-color: transparent;
	color:black;
}	

#masthead {
			color:black;
			background-color: transparent;
			}

#container-header{
				height: auto;
				background-color: transparent;
				}
		
.box{
	padding:2px;/*2/16=0.125em*/
	}
		
nav{
	display:none; 
	}

#container-nav {
	background-color: silver;
	border:3px solid gray;
}

#portfolio{
			float:left;
			width:54%;
			background-color: transparent;
			}
		
#resume{
		float:right;
		width:36%;
		border:0.3125em dotted silver;/*5/16=0.3125em*/
		border-radius:0.3125em;
		background-color: transparent;
		color:black;
		}

#resume h2{
			background-color:black;
			color:white;
			border-radius:0.3125em;
			}

#resume li{
			list-style: none;

			}

img{
	width:1.75in;
	}

#top{
	background-image: none;
	background-color: transparent;
	color:black;
	}

#job{
	background-color: transparent;
	border-radius:0.3125em;
	vertical-align: center;
	padding:0.125em;/*2/16=0.125em*/
	margin-top:0.0625em;/*1/16=0.0625em*/
	margin-bottom:0.0625em;
	}

	figure,.box {
	background-color: silver;
-webkit-box-shadow: 3px 3px 3px 0px rgba(138,136,138,0.44);
-moz-box-shadow: 3px 3px 3px 0px rgba(138,136,138,0.44);
box-shadow: 3px 3px 3px 0px rgba(138,136,138,0.44);
	padding: .975em; /* 3/4 of 1.3 */
		border-radius:5px;
		}

#portfolio article {
					margin:0.1875em 0.125em 0.1875em 0.125em;/*3/16=0.1875em  2/16=0.125em*/
					padding:0.25em 0em 0.25em 0.1875em;/*4/16=0.25em*/
					border :0.125em solid silver;
					background-color: transparent;
					border-radius:0.3125em;/*5/16=0.3125em*/
					height:auto;
					}

div>h1,h2{
			background-color:transparent;
			font-size: 85%;
			margin:0em;
			padding:0.125em;
			}



footer{
		border:0.3125em dotted silver;
		border-radius:0.3125em;
		background-color: transparent;
		color:black;
		}

		form,fieldset{
			display:none;
		}

#container-footer	{
	background-color: transparent;
					clear:both;
					}


					}

